/* -- Floating -- */
body{
    margin-bottom: 50%;
}
#outer{
    border: 2px dashed black;
    padding: 10px; 
    overflow: hidden;
}

.box{
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 10px;
    float: left;
}

.break {
   clear: left;
}
/* -- Menu bar -- */
/*
#list{
    background-color: red;
    border: 1px solid red;
    margin-top: 10px;
    padding: 30px;
}
li{
    float: left;
    list-style: none;
    border: 1px solid black;
    background-color: white;
    margin-top: -35px;
    font-size: 1.25em;
    margin-left: 10px;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';  
}
*/

ul {
    background-color: red;
    padding: 20px;
    text-align: left;
  }
  
  li {
    display: inline;
    border: 1px solid black;
    border-radius:50%;
    padding: 10px;
    background-color: white;
  }

  /* -- Layout -- */

  #overall{
      background-color: lightgray;
      width: 500px;
      padding: 5px;
      overflow: hidden;
  }

  #overall h1{
      background-color: yellow;
  
  }

  #area-1, #area-2 {
      background-color: lightblue;
      width: 100px;
      padding: 10px;
      float: right;
      margin-left: 10px;
      margin-bottom: 10px;
  }

  #a, #b {
    width: 100px;
    height: 100px;
    font: 30pt bold Helvetica, Arial, sans-serif;
    line-height: 100px;
    text-align: center;
  }
  #a { background-color: lightblue; }
  #b { background-color: pink; }
  #c { background-color: lightgray;
       float: right; }
  