body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: coral;
    color: #fff;
    padding: 10px;
}

h4 span{
    color: #000;
    font-style: italic;
    font-family: URW Chancery L, cursive;
}

a{
    color: coral;
    text-decoration: none;
}

a:hover{
    color:green;
    text-decoration: underline;
}

h2{
    color: #000;
}

p::first-letter{
    color: #000;
    font-size: 1.5em;
}

#my-movies dt{
    color: coral;
}

/* #my-movies ol{display: list-item; flex-direction:column-reverse; }
*/
ol {display:list-item; } ul > li { order:2;} 


#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width: 600px){
    #main{
        width: 100%;
        float: none;
    }
}
